Flask==2.0.0
Flask_Cors==3.0.10
keras==2.11.0
keras_nightly==2.5.0.dev2021032900
Keras_Preprocessing==1.1.2
numpy==1.23.5
pymongo==4.3.3
python-dotenv==0.21.0
requests==2.26.0
tensorflow==2.11.0
pillow==9.3.0
huggingface_hub
